*.iml
.gradle
/local.properties
/.idea
/.serena
.DS_Store
/build
/keys
/captures
.externalNativeBuild
.cxx
local.properties
signing.properties
*.jks
*.keystore
*.apk
*.aab
**/build/
/.agents
GEMINI.md
