<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".WearAlertApp"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_alert"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name=".ui.WearMainActivity"
            android:exported="true"
            android:taskAffinity="ua.alerts.wear"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".complication.AlertComplicationService"
            android:exported="true"
            android:label="@string/complication_label"
            android:icon="@android:drawable/ic_dialog_alert"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
            <meta-data
                android:name="android.support.wearable.complications.PROVIDER_CONFIG_ACTION"
                android:value="ua.alerts.wear.action.CONFIG_COMPLICATION" />
        </service>

        <activity
            android:name=".complication.ComplicationConfigActivity"
            android:exported="true"
            android:label="@string/select_region"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="ua.alerts.wear.action.CONFIG_COMPLICATION" />
                <category android:name="android.support.wearable.complications.category.PROVIDER_CONFIG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.WearDataListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/alert_status"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>

</manifest>
