<!--suppress ALL -->
<!-- noinspection ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="all">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--suppress ALL -->
    <!-- noinspection ALL -->
    <application
        android:name="ua.alerts.wear.WearAlertApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="all">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <!--suppress ALL -->
        <!-- noinspection ALL -->
        <activity
            android:name="ua.alerts.wear.ui.WearMainActivity"
            android:exported="true"
            android:taskAffinity="ua.alerts.wear"
            tools:ignore="all">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--suppress ALL -->
        <!-- noinspection ALL -->
        <service
            android:name="ua.alerts.wear.complication.AlertComplicationService"
            android:exported="true"
            android:label="@string/complication_label"
            android:icon="@drawable/ic_warning_siren"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            tools:ignore="all">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
            <meta-data
                android:name="android.support.wearable.complications.PROVIDER_CONFIG_ACTION"
                android:value="ua.alerts.wear.action.CONFIG_COMPLICATION" />
        </service>

        <!--suppress ALL -->
        <!-- noinspection ALL -->
        <activity
            android:name="ua.alerts.wear.complication.ComplicationConfigActivity"
            android:exported="true"
            android:label="@string/select_region"
            tools:ignore="all">
            <intent-filter>
                <action android:name="ua.alerts.wear.action.CONFIG_COMPLICATION" />
                <category android:name="android.support.wearable.complications.category.PROVIDER_CONFIG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--suppress ALL -->
        <!-- noinspection ALL -->
        <service
            android:name="ua.alerts.wear.service.WearDataListenerService"
            android:exported="true"
            tools:ignore="all">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <!--suppress ALL -->
                <!-- noinspection ALL -->
                <data
                    android:host="*"
                    android:pathPrefix="/alert_status"
                    android:scheme="wear"
                    tools:ignore="all" />
            </intent-filter>
        </service>

    </application>

</manifest>
